<div class="container center">
	<br>
	<h1>Login</h1>
	<br>
	<form action="/auth" method="post">
		<label for="user">
			<!-- font awesome icon -->
			<i class="fas fa-user"></i>
		</label>
		<input type="user" name="user" placeholder="user" id="user" required>
		<br><br>
		<label for="password">
			<i class="fas fa-lock"></i>
		</label>
		<input type="password" name="password" placeholder="Password" id="password" required>
		<br><br>
		<input type="submit" value="Ingresar" class="btn btn-info">
	</form>
</div>